In [1]:
import os
import time
import pandas as pd
from py2neo import Graph
import hashlib

In [2]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columns

In [18]:
def get_neo4j_path(path):
    """
    Function to retrieve the local path to Neo4J.
    
    :param path: Local path variable to Neo4J.
    """
    NEO4J_HOME = os.getenv(path)
    print(NEO4J_HOME)
    
get_neo4j_path("NEO4J_HOME")

C:\Users\ericy\.Neo4jDesktop\neo4jDatabases\database-648d6182-7a2c-4fe8-b4cb-63ba7c4737da\installation-4.0.3

In [75]:
# Start Neo4J service
!"$NEO4J_HOME"\bin\neo4j start

Neo4j service started

In [25]:
!.\run_cyphers_ey.sh

In [26]:
def make_clickable(val):
    return f'<a target="_blank" href="{val}">{val}</a>'

In [76]:
# Connect to Graph locally
graph = Graph("bolt://localhost:11006", auth=("neo4j", "neo4jbinder"))

In [90]:
query1 = """
LOAD CSV WITH HEADERS FROM 'FILE:///interactions.csv' AS row 
RETURN row.Interaction_ID, row.SARS_COV2_Protein_ID, row.Human_Protein_ID
"""
query2 = """
LOAD CSV WITH HEADERS FROM 'FILE:///human_data.csv' AS row 
RETURN row.Human_Protein_ID, row.Human_Protein_Name
"""
query3 = """
LOAD CSV WITH HEADERS FROM 'FILE:///virus_data.csv' AS row 
RETURN row.SARS_COV2_Protein_ID, row.SARS_COV2_Identifier, row.SARS_COV2_Protein_Name, row.Sequence, row.Length, row.`Start Pos`, row.`End Pos`
"""
query4 = """
LOAD CSV WITH HEADERS FROM 'FILE:///human_alias.csv' AS row 
RETURN row.Human_Protein_ID, row.Alt_intact_ID, row.Alt_uniprot_ID
"""
query5 = """
LOAD CSV WITH HEADERS FROM 'FILE:///virus_alias.csv' AS row 
RETURN row.SARS_COV2_Protein_ID, row.Alt_uniprot_ID, row.Alt_intact_ID
"""
graph.run(query1).to_data_frame().groupby("row.Interaction_ID").count()

                     row.SARS_COV2_Protein_ID  row.Human_Protein_ID
row.Interaction_ID
intact:EBI-25490454                         6                     6
intact:EBI-25490478                        30                    30
intact:EBI-25490574                        15                    15
intact:EBI-25490625                         2                     2
intact:EBI-25490637                         6                     6
intact:EBI-25490661                         5                     5
intact:EBI-25490682                         1                     1
intact:EBI-25490691                        20                    20
intact:EBI-25490757                        40                    40
intact:EBI-25490883                         3                     3
intact:EBI-25490898                         3                     3
intact:EBI-25490913                         7                     7
intact:EBI-25490940                         8                     8
intact:EBI-25490970                         1                     1
intact:EBI-25490979                         2                     2
intact:EBI-25490993                         4                     4
intact:EBI-25491011                        32                    32
intact:EBI-25491113                        24                    24
intact:EBI-25491191                        16                    16
intact:EBI-25491245                         9                     9
intact:EBI-25491278                         8                     8
intact:EBI-25491308                         1                     1
intact:EBI-25491317                         3                     3
intact:EBI-25491332                         2                     2
intact:EBI-25491344                        47                    47
intact:EBI-25491493                        11                    11
intact:EBI-25491532                        26                    26

In [30]:
# Stop Neo4J service
!"$NEO4J_HOME"\bin\neo4j stop

Neo4j service stopped